

@media (min-width: 970px) {
    .row {
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    padding-top: 100px;
}

.header-border {
    height: 1px;
    width: 10000px;
    margin-left: -100px;
    background-color: #e6e7e8;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

    .svg-logo {
        width: 100%;
    }

.inner-nav {
    margin-top: 25px;
    margin-bottom: 25px;
}

    a, a:visited, a:hover {
        font-size: 16px;
        font-family: "Courier New", monospace;
        color: #58595b;
        text-decoration: none;
    }


.project {
    height: 22.5rem;
    margin-bottom: 1.875rem;
}

    .project-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-x: center;
    }

.photo-wrapper {
    margin-bottom: 40px;
}

.photo-wrapper .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.photo {
    width: 100%;
}
